
/* Fondo general */
body {
background-color: #FFF8F0;
color: #2C2C2C;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}


header {
background-color: #E63946;
color: white;
padding: 20px;
text-align: center;
}


nav ul {
background-color: #F1C40F;
list-style: none;
padding: 10px;
margin: 0;
display: flex;
gap: 20px;
}


nav ul li a {
color: #2C2C2C;
text-decoration: none;
font-weight: bold;
}


h1, h2, h3, h4, h5 {
color: #E63946;
}


.textos {
background-color: #FFDDD6;
padding: 10px;
border-radius: 8px;
}


footer {
background-color: #2C2C2C;
color: white;
text-align: center;
padding: 15px;
margin-top: 20px;
}


img {
max-width: 100%;
}

